{% include 'header.html' %}
<form method="post" action="/update" enctype="multipart/form-data">
    <div class="card">
        <div class="card-header">
            Modificar empleado
        </div>
        <div class="card-body">
            <p class="card-text">
                <input hidden type="text" value="{{empleado[0]}}" name="txtId" id="txtId">  
              <div class="form-group">
                <label for="txtNombre">Nombre: </label>
                <input type="text" name="txtNombre" id="txtNombre" value="{{empleado[1]}}"> 
              </div> 
              <div class="form-group">
                <label for="txtCorreo">Correo: </label>
                <input type="email" name="txtCorreo" id="txtCorreo" value="{{empleado[2]}}">
              </div>
              <div class="form-group">
                <label for="txtFoto">Foto de Perfil: </label>
                <input type="file" name="txtFoto" id="txtFoto" value="{{empleado[3]}}">
              </div>
            </p>
        </div>
    </div>
    <input class="btn btn-success" type="submit" value="Modificar empleado">
</form>
{% include 'footer.html' %}